@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a{
    text-decoration: none;
}

.navbar{
    width: 100%;
    height: 52px;

    background: #1B2226;
}

.logo-linkedin{
    position: absolute;
    width: 34px;
    height: 34px;
    top: 9px;
    left: 153px;

}

.navbar-input{
    position: absolute;
    width: 280px;
    height: 34px;
    top: 9px;
    left: 195px;
    border-radius: 4px;
    padding-left: 40px;

    background-color: #38434F;
    border: none;

    color: #FFFFFFE5;
    text-align: left;
    font-size: 14px;
}

.navbar-input::placeholder{
    color: #FFFFFFE5;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.navbar-busca-icon img {
    z-index: 1;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 14px;
    left: 203px;
    cursor: pointer;
}

.navbar-busca-icon img:hover{
    transform: scale(1.11);
}

.menu-principal{
    display: flex;
    justify-content: space-between;
}

.menu-principal a{
    color: #FFFFFFE5;
}

.menu-principal a:hover{
    text-decoration: underline;
}

.menu-principal ul{
    position: absolute;
    left: 550px;
}

.menu-principal > ul > li {
    display: inline-block;
    padding: 15px;
    margin-top: 15px;

    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    cursor: pointer;
}

.home-navbar{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 6px;
    left: 566px;
    padding: 3px 4px 3px 4px;
    cursor: pointer;
}

.rede-navbar{
    position: absolute;
    width: 30px;
    height: 24px;
    top: 6px;
    left: 642px;
    padding: 3px 4px 3px 4px;
    cursor: pointer;
}

.vagas-navbar{
    position: absolute;
    width: 28px;
    height: 24px;
    top: 6px;
    left: 725px;
    padding: 3px 4px 3px 4px;
    cursor: pointer;
}

.mensagens-navbar{
    position: absolute;
    width: 28px;
    height: 24px;
    top: 6px;
    left: 805px;
    padding: 3px 4px 3px 4px;
    cursor: pointer;
}

.notificacoes-navbar{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 6px;
    left: 905px;
    padding: 3px 4px 3px 4px;
    cursor: pointer;
}

.solucoes{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 6px;
    left: 995px;
    cursor: pointer;
}

.home-navbar:hover, .rede-navbar:hover, .vagas-navbar:hover, .mensagens-navbar:hover, .notificacoes-navbar:hover, .solucoes:hover{
    transform: scale(1.09);
}

.separacao{
    position: absolute;
    left: 965px;
}

.informacoes-perfil{
    position: absolute;
    width: 780px;
    height: 468px;
    top: 76px;
    left: 154px;
    border: 4px solid #1B2226;
    border-radius: 20px;
    background-color: #1B2226;  
}

.foto-capa{
    position: relative;
    width: 775px;
    height: 230px;
    top: 0px;
    left: -2px;
    border-radius: 16px 16px 0px 0px;
}

.foto-perfil{
    position: relative;
    width: 160px;
    height: 160px;
    top: -120px;
    left: 20px;
    border-radius: 50%;
    background: #1B2226;
    border: 4px solid #1B2226;
}

.nome{
    position: absolute;
    width: 250px;
    height: 30px;
    top: 290px;
    left: 20px;

    font-size: 24px;
    font-weight: 600;
    line-height: 30px;

    color: #FFFFFFE5;
}

.titulo{
    position: absolute;
    width: 350px;
    height: 30px;
    top: 320px;
    left: 20px;

    font-size: 16px;
    font-weight: 500;
    line-height: 30px;

    color: #FFFFFFE5;
}

.local{
    position: absolute;
    width: 170px;
    height: 20px;
    top: 350px;
    left: 20px;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    color: #FFFFFF99;
}

.elipse{
    position: absolute;
    width: 5px;
    height: 5px;
    top: 342px;
    left: 185px;

    color: #FFFFFF99;
}

.contato{
    position: absolute;
    width: 150px;
    height: 20px;
    top: 350px;
    left: 198px;

    font-size: 14px;
    font-weight: 700;
    line-height: 20px;

    cursor: pointer;
}

.contato:hover{
    text-decoration: underline #70B5F9;
}

.conexoes{
    position: absolute;
    width: 100px;
    height: 20px;
    top: 380px;
    left: 20px;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    cursor: pointer;
}

.conexoes:hover{
    text-decoration: underline #70B5F9;
}

.mensagem-perfil button{
    position: absolute;
    width: 128px;
    height: 32px;
    top: 410px;
    left: 20px;
    border-radius: 16px;
    border: none;

    font-size: 14px;
    font-weight: 600;

    background-color: #70B5F9;
    cursor: pointer;
}

.mensagem-perfil button:hover{
    background-color: #409dfa;
    transform: scale(1.05)
}

.mensagem-perfil a{
    color: #000000BF;
}

.mais button{
    position: absolute;
    width: 128px;
    height: 32px;
    top: 410px;
    left: 155px;
    border-radius: 16px;
    border: 1px solid #70B5F9;

    font-size: 14px;
    font-weight: 600;

    background: transparent;
    cursor: pointer;
}

.mais button:hover{
    background-color: #70b4f931;
    transform: scale(1.05);
}

.contato a, .conexoes a, .mais a{
    color: #70B5F9;
}

.empresa h2{
    position: absolute;
    width: 63px;
    height: 20px;
    top: 300px;
    left: 540px;

    font-size: 16px;
    font-weight: 550;
    line-height: 20px;

    color: #FFFFFFE5;
    cursor: pointer;
}

.empresa h2:hover{
    text-decoration: underline #FFFFFFE5;
}

.empresa img {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 295px;
    left: 500px;
    cursor: pointer;
}

.instituicao h2{
    position: absolute;
    width: 150px;
    height: 20px;
    top: 340px;
    left: 540px;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 550;
    line-height: 20px;

    color: #FFFFFFE5;
    cursor: pointer;
}

.instituicao h2:hover{
    text-decoration: underline #FFFFFFE5;
}

.instituicao img{
    position: absolute;
    width: 32px;
    height: 32px;
    top: 335px;
    left: 500px;
    cursor: pointer;
}

.destaques-perfil{
    position: absolute;
    width: 780px;
    height: 312px;
    top: 552px;
    left: 153px;
    border-radius: 16px;

    background: #1B2226;
}

.destaques-perfil h2{
    position: relative;
    top: 16px;
    left: 24px;

    font-size: 20px;
    font-weight: 590;
    line-height: 30px;

    color: #FFFFFFE5;
}

.publicacoes-destaque{
    display: flex;
    cursor: pointer;
}

.primeiro-destaque{
    position: absolute;
    width: 238px;
    height: 236px;
    top: 55px;
    left: 20px;
    border-radius: 8px;
    border: 1px solid #FFFFFF99;

    background-color: transparent;
}
.segundo-destaque{
    position: absolute;
    width: 238px;
    height: 236px;
    top: 55px;
    left: 270px;
    border-radius: 8px;
    border: 1px solid #FFFFFF99;

    background-color: transparent;
}

.terceiro-destaque{
    position: absolute;
    width: 238px;
    height: 236px;
    top: 55px;
    left: 520px;
    border-radius: 8px;
    border: 1px solid #FFFFFF99;

    background-color: transparent;
}

.primeiro-destaque p, .segundo-destaque p, .terceiro-destaque p{
    position: relative;
    top: 12px;
    left: 12px;

    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF99;
}

.primeiro-destaque h4, .segundo-destaque h4, .terceiro-destaque h4{
    position: relative;
    top: 12px;
    left: 12px;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFFE5;
}

.primeiro-destaque img, .segundo-destaque img, .terceiro-destaque img{
    position: relative;
    width: 236px;
    height: 152px;
    top: 15px;
    left: 0px;
}

.engajamento .reacao-azul{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 212px;
    left: 2px;
    border-radius: 50%;
    background: #378FE9;
}

.engajamento .reacao-verde{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 212px;
    left: 10px;
    border-radius: 50%;
    background: #6DAE4F;
}

.engajamento .reacao-laranja{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 212px;
    left: 18px;
    border-radius: 50%;
    background: #DF704D;
}

.engajamento .likes{
    position: absolute;
    top: 210px;
    left: 38px;

    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF99;
}

.engajamento .comentarios{
    position: absolute;
    top: 210px;
    left: 150px;

    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF99;
}

.atividades-perfil{
    position: absolute;
    width: 780px;
    height: 420px;
    top: 878px;
    left: 154px;
    border-radius: 16px;
    padding: 1rem 1.6rem;

    background: #1B2226;
}

.atividades-perfil h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;

    color: #FFFFFFE5;
}

.atividades-perfil a.seguidores{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    color: #70B5F9;
}

.atividades-perfil a.seguidores:hover{
    text-decoration: underline;
}

.publicacoes-button button{
    position: absolute;
    width: 100px;
    height: 28px;
    top: 70px;
    left: 30px;
    border-radius: 16px;
    border: none;

    font-size: 12px;
    font-weight: 600;

    background-color: #70B5F9;
    cursor: pointer;
}

.publicacoes-button button:hover{
    background-color: #409dfa;
    transform: scale(1.05)
}

.publicacoes-button a{
    color: #000000BF;
}

.imagens-button button{
    position: absolute;
    width: 90px;
    height: 28px;
    top: 70px;
    left: 140px;
    border-radius: 16px;
    border: 1px solid #70B5F9;

    font-size: 14px;
    font-weight: 600;

    background: transparent;
    cursor: pointer;
}

.imagens-button button:hover{
    background-color: #70b4f931;
    transform: scale(1.05);
}

.imagens-button a{
    color: #70B5F9;
}

.publicacoes-atividades .atividade{
    width: 100%;
    height: 135px;

    position: relative;
    top: 40px;

    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-bottom: 1px solid #FFFFFF99;
}

.atividade>.nome{
    position: relative;
    width: 300px;
    top: 0px;
    left: 0px;
    padding-top: .7rem;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    color: #FFFFFF99;
}

.atividade img{
    position: relative;
    width: 12%;
    top: 8px;
    border-radius: 10px;
}

.atividade p{
    position: relative;
    width: 620px;
    height: 64px;
    top: -48px;
    left: 100px;
    text-align: justify;

    font-size: 13px;
    font-weight: 400;
    line-height: 20px;

    color: #FFFFFF;

}

.atividade .engajamento{
    position: relative;
    top: -250px;
    left: 0px;
}

.atividade .engajamento .comentarios{
    position: relative;
    left: 650px;
}

.atividade .engajamento .likes:hover, .atividade .engajamento .comentarios:hover{
    text-decoration: underline;
    color: #409dfa;
}

.atividades-perfil hr{
    position: relative;
    width: 780px;
    top: 38px;
    left: -26px;

    color: #FFFFFF99;
    border: 1px solid #FFFFFF99;
}

.atividades-perfil h3{
    font-size: 14px;
    font-weight: 500;
    line-height: 120px;
    text-align: center;

    color: #FFFFFF99;
}

.atividades-perfil h3:hover{
    text-decoration: underline;
}

.sobre-perfil{
    position: absolute;
    width: 780px;
    height: 280px;
    top: 1310px;
    left: 154px;
    border-radius: 16px;
    padding: 1rem 1.6rem;
    
    background: #1B2226;
}

.sobre-perfil h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;

    color: #FFFFFFE5;
}

.sobre-perfil p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-top: .5rem;
    text-align: justify;

    color: #FFFFFF;
}

.experiencias-perfil{
    position: absolute;
    width: 780px;
    height: 365px;
    top: 1600px;
    left: 154px;
    border-radius: 16px;
    padding: 1rem 1.6rem;
    background: #1B2226;
}

.experiencias-perfil h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;

    color: #FFFFFFE5;
}

.experiencia-profissional{
    cursor: pointer;
}

.experiencia-profissional img{
    position: relative;
    width: 48px;
    height: 48px;
    top: 10px;
    left: 0px;
}

.experiencia-profissional h3{
    position: relative;
    top: -35px;
    left: 55px;

    font-size: 16px;
    font-weight: 600;
    line-height: 20px;

    color: #FFFFFFE5;
}

.experiencia-profissional h3:hover{
    color: #409dfa;
    text-decoration: underline;
}

.experiencia-profissional .duracao{
    position: relative;
    top: -35px;
    left: 55px;

    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    

    color: #FFFFFF99;
}

.detalhamento-experiencia{
    cursor: pointer;
}

.detalhamento-experiencia ul{
    list-style: none;

    background-image: url('imagens/detalhe\ timeline.png');
    background-repeat: repeat-y;
    background-size: 10px;

    position: relative;
    top: -20px;
    left: 20px;

    color: #FFFFFFE5;
}

.detalhamento-experiencia ul li{
    position: relative;
    top: -5px;
    padding-left: 30px;
    padding-bottom: 5px;

    font-size: 15px;
    font-weight: 580;

    display: flex;
    flex-direction: column;
}

.cargo h3:hover{
    color: #409dfa;
    text-decoration: underline;
}

.cargo .tipo-emprego{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;

    color: #FFFFFFE5;
}

.cargo .duracao{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
   
    color: #FFFFFF99;
}

.cargo .localizacao{
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
   
    color: #FFFFFF99;
}

.formacao-academica-perfil{
    position: absolute;
    width: 780px;
    height: 210px;
    top: 1975px;
    left: 154px;
    border-radius: 16px; 
    padding: 1rem 1.6rem;
    background-color: #1B2226;
    cursor: pointer;
}

.formacao-academica-perfil h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;

    color: #FFFFFFE5;
}

.formacao-academica ul{
    list-style: none;

    display: flex;
    flex-direction: column;

    color: #FFFFFFE5;
}

.formacao-academica ul li img{
    width: 48px;
    height: 48px;

    float: left;
    margin-top: 22px;
}

.formacao-academica h3{
    position: relative;
    top: 22px;
    left: 10px;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;

    color: #FFFFFFE5;
}

.formacao-academica h3:hover{
    color: #409dfa;
    text-decoration: underline;
}

.formacao-academica .nome-curso{
    position: relative;
    top: 20px;
    left: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;

    color: #FFFFFFE5;
}

.formacao-academica .duracao{
    position: relative;
    top: 20px;
    left: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;

    color: #FFFFFF99;
}

.formacao-academica ul hr{
    position: relative;
    top: 10px;
    width: 700px;
    border: 1px solid #FFFFFF99;
    color: #FFFFFF99;

}

.idiomas-perfil{
    position: absolute;
    width: 780px;
    height: 180px;
    top: 2195px;
    left: 154px;
    border-radius: 16px; 
    padding: 1rem 1.6rem;
    background-color: #1B2226;
}

.idiomas-perfil h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;

    color: #FFFFFFE5;
}

.detalhamento-idiomas ul{
    list-style: none;

    display: flex;
    flex-direction: column;

    color: #FFFFFFE5;
}

.detalhamento-idiomas ul li{
    margin-top: 15px;
}

.detalhamento-idiomas h3{
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;

    color: #FFFFFFE5;
}

.detalhamento-idiomas .fluencia{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;

    color: #FFFFFF99;
}

.detalhamento-idiomas ul hr{
    position: relative;
    top: 7px;
    width: 700px;
    border: 1px solid #FFFFFF99;
    color: #FFFFFF99;

}

@media(max-width: 1024px){
    .searchbox{
    display: none;
    }
}